<form action='/cart' method='POST'><!--can post info in post body-->
    <button class='btn' type='submit'>Add to Cart</button>
    <input type='hidden' name='productId' value="<%= product._id %>">
</form>