.form-control label,
.form-control input{
    display:block;
    width: 100%

}
.form-control input{
    border: 1px solid	#00628B;
    font: inherit;
    border-radius: 2px;
}
.form-control{
    margin: 1rem 0;
}
.btn{
    font:inherit;
    border:1px solid black;
    border-radius: 3px;
    background:white;
    cursor:pointer;
}
btn:hover,
btn:active{
    background-color: #00628B;
    color:#81A594
}
.product-form
{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}